:root{
  --blue: #02182B;
  --red: #d7263D;
  --lightBlue: #0197F6;
  --cyan: #448FA3;
}

html, body{
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: var(--blue);
  scroll-behavior: smooth;
}

#app{
  height: 100%;
}